@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 10;
  font-family: "Quicksand";
  color: #333;
  text-align: center;
  
}

.navbar {
  /* background-color: grey; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  /* justify-content: center; */
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;;
  color: black;
  font-size: 25px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  /* max-width: 600px; */
  margin: 40px auto;
  padding: 20px;
}

/* post previews / list */
.post-preview {
  padding: 10px 16px;
  margin: auto;
  border-bottom:1px solid #fafafa;
  align-items: center;
  word-wrap: normal;
  width: 700px;
}
.post-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.post-preview h2 {
  font-size: 25px;
  color: #f1356d;
  margin-bottom: 8px;
}
.post-preview p {
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  width: 500px;
  /* inline-size: min-content; */
}
.post-preview a {
  text-decoration: none;
}
.post-details {
  font-size: 20px;
}
.post-details :hover {
  color: #f1356d;
}
.category-view {
  /* display: flex; */
  /* justify-content: center; */ 
  text-align: left;
  max-width: 700px;
  font-size: 18px;
  margin: 0 auto;
  margin-left: 10px;

  /* padding: 10px; */
}
.filter-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}